HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### H2DB ###
*.mv.db
*.trace.db

### Log4j2 ###
logs

### VS Code ###
**/src/main/**/resources/static/.vscode/
